In [12]:
# Задача 1
str_test = "Just have done it!"
list_final = []

def slice_func(string):

  start_index = 0

  for i, char in enumerate(string):
    if char == ' ':
      list_final.append(string[start_index : i])
      start_index = i + 1

  if string[-1] in '.!?':
    list_final.append(string[start_index : -1])
  else:
    list_final.append(string[start_index : ])

  return list_final

slice_func(str_test)

['Just', 'have', 'done', 'it']

In [37]:
# Задача 2
import math

time_natan = 5

def water_func(time):

  water_vol = time * 0.5

  return f"Натану необходимо выпить {math.floor(water_vol)} литра(ов) воды"

water_func(time_natan)

'Натану необходимо выпить 2 литра(ов) воды'

In [29]:
# Задача 3
lst = []

def int_func(num):

  for i in range(1, num + 1):
    lst.append(i)
    lst.sort(reverse = True)

  return lst

int_func(10)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [38]:
# Задача 4
import math

year_test = 2024

def century_func(year):

  century = year / 100

  return f"{math.ceil(century)} век Н.Э."

century_func(year_test)

'21 век Н.Э.'

In [41]:
# Задача 5
test_num = 123456789
lst = []

def num_func(num):

  for i in str(num)[::-1]:
    lst.append(int(i))

  return lst

num_func(test_num)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [58]:
# Задача с трансляции
n = 6
matrix = []


def matrix_func(size):

  counter = 10 # First int in matrix

  for el in range(size):

    el = []

    for num in range(1, size + 1):
       el.append(counter)
       counter += 1

    matrix.append(el)

  return matrix


matrix_func(n)

[[10, 11, 12, 13, 14, 15],
 [16, 17, 18, 19, 20, 21],
 [22, 23, 24, 25, 26, 27],
 [28, 29, 30, 31, 32, 33],
 [34, 35, 36, 37, 38, 39],
 [40, 41, 42, 43, 44, 45]]

In [105]:
# Задача 6 (схема 2)
n = 5
matrix = []

def matrix_side(size):

  counter = 1

  for i in range(size):
     temp = []
     for j in range(size):
       temp.append(counter)
       counter += 1
     matrix.append(temp)
     if i % 2 == 1:
      temp.sort(reverse = True)

  return matrix

matrix_side(n)

[[1, 2, 3, 4, 5],
 [10, 9, 8, 7, 6],
 [11, 12, 13, 14, 15],
 [20, 19, 18, 17, 16],
 [21, 22, 23, 24, 25]]

In [79]:
# Не работает
n = 6
matrix = []

def matrix_down(size):

  counter = 1

  for i in range(size):
     el = []
     for j in range(1, size):
      el.append(counter)
      counter = counter + 1 + j*size
     matrix.append(el)


  return matrix

matrix_down(n)

[[1, 8, 21, 40, 65],
 [96, 103, 116, 135, 160],
 [191, 198, 211, 230, 255],
 [286, 293, 306, 325, 350],
 [381, 388, 401, 420, 445],
 [476, 483, 496, 515, 540]]

In [104]:
# Не работает
n = 6
matrix = []

def matrix_down(size):

  counter_for_0 = 1
  counter_for_1 = 2

  for i in range(size):
     el = []
     matrix.append(el)
    #  el.append(counter)
    #  counter = counter + 1

  for index, value in enumerate(matrix):
    if index % 2 == 0 or index == 0:
      value.append(counter_for_0)
      counter_for_0 += 2
    else:
      value.append(counter_for_1)
      counter_for_1 += 2



  return matrix

matrix_down(n)

[[1], [2], [3], [4], [5], [6]]